# Week 2 Notes: Variables, Strings, Data Types, Boolean Logic

## Review of Variables in Python

### Variables in Python

Variables in Python are defined with the syntax below:

```
<var> = <value or expression>
```

Rules for Variable Names

 * start with letter (can start with an underscore, but by convension start with a letter)
 * only contain letters, numbers, underscore character ```_```
 * No spaces or other punctuation (except the underscore)
 * No brackets or quotes ```[ { | ' " ```
 * By convention, variables use lower-case letter, unless the variable is a global constant, in which case UPPER-CASE letters are used. By convention, variables do not start with an underscore.

In [1]:
# example of variable assignment

var_name = "my string"

In [2]:
5th_var = 5

SyntaxError: invalid syntax (<ipython-input-2-904eaf525e08>, line 1)

In [3]:
fifth-var = 5

SyntaxError: cannot assign to operator (<ipython-input-3-e99cd8abacd4>, line 1)

In [4]:
fith var = 5

SyntaxError: invalid syntax (<ipython-input-4-e818b1e68a36>, line 1)

In [5]:
[fithvar] = 7

TypeError: cannot unpack non-iterable int object

## Review String Indexing and Slicing

String indexing and slicing is the process of pulling individual values or sequences of values from a string.

In [6]:
s = "Never underestimate students!"

In [7]:
# pull out "under"
s[6:11]

'under'

In [8]:
# pull out "estimate"
s[11:19]

'estimate'

In [9]:
print(s[0:5],s[6:19])

Never underestimate

In [10]:
s[6:29]

'underestimate students!'

In [11]:
s[20:]

'students!'

In [12]:
s[1:4]+s[10:14]

'everest'

In [13]:
print(s[0:5],s[11:19],s[-1])

Never estimate !

In [14]:
print (s[3],s[16],s[21])

e a t

In [15]:
s[3]+s[16]+s[21]

'eat'

In [16]:
s[20:]

'students!'

In [17]:
print(s[20:])

students!

In [18]:
# just the exclamation mark
s[-1]

'!'

In [19]:
print(s[-1])

!

In [20]:
s[6:11] + s[20:22] +s[16:17] + s[-4] + s[-6] + s[-1]

'understand!'

In [21]:
s

'Never underestimate students!'

In [22]:
# sia]
s[12:17:2]   #[start:stop:step]

'sia'

In [23]:
p = 'peter'

In [24]:
p.upper()

'PETER'

In [25]:
s[12:17:2].upper()

'SIA'

In [26]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [27]:
p.title()

'Peter'

In [28]:
p.count?

## Booleans and Bolean Logic

The boolean data type is either ```True``` or ```False```. 

In Python, Booleans are defined with Capital ```True``` or a Capital ```False```

In [29]:
a = True

In [30]:
c = true # returns an errror

NameError: name 'true' is not defined

In [31]:
b = False

In [32]:
# determine the data type of a variable using Python's type() function
type(a)

bool

In [33]:
type(b)

bool

### Combine and compare Booleans with Boolean Operators

 * not
 * and
 * or
 * ```==``` equivalent to
 * ```!=``` not equivalent to
 * parenthesis can be used

In [34]:
not a

False

In [35]:
not b

True

In [36]:
a or b

True

In [37]:
a and b

False

In [38]:
True and True

True

In [39]:
False or True

True

In [40]:
a or (b and a)

True

In [41]:
a == b   # equivalent to, or equal to

False

In [42]:
a == (not b)

True

In [43]:
a or (a and not b) == b

True

In [44]:
a != b

True

In [45]:
True != True

False

### non-boolean variables can be converted to the boolean data type

In [46]:
# all non-zero integers are True
bool(5)   # the bool function converts a data type into a boolean data type

True

In [47]:
# zero converts to the boolean False
bool(0)

False

In [48]:
# any string converts to True
bool("name")

True

In [49]:
# only the empty string '' converts to False
bool('')

False

In [50]:
# a space is a valid character in a string
bool(' ')

True

In [51]:
bool('0')

True

In [52]:
# all decimals (floating point numbers) convert to True except 0.0
bool(0.0)

False

In [53]:
bool(0.1)

True

## Numeric Data Types

Python has a number of numeric data types which include:

 * integers
 * floats (floating point numbers, or decimals)
 * complex numbers

### Integers

Whole numbers, positive, negative or zero

In [54]:
a = 10
b = -4
c = 0

In [55]:
type(a)

int

In [56]:
type(b)

int

In [57]:
type(c)

int

### Floats

Floats, or floating point numbers are decimals or numbers in scientific notation. Floats are defined in Python using a decimal point ```.``` or ```e``` or ```E``` to define a number in scientific notation.

In [58]:
f = 1.2
g = 0.0
h = 6.02e23

In [59]:
type(f)

float

In [60]:
type(g)

float

In [61]:
type(h)

float

In [62]:
k = 5
l = 5.0

In [63]:
type(k)

int

In [64]:
type(l)

float

In [65]:
m = 5e-7
print(m)

5e-07

In [66]:
n = 5e7.33   # exponents in scientific notation need to be whole numbers

SyntaxError: invalid syntax (<ipython-input-66-a40adf92d407>, line 1)

In [67]:
o = 5 * 10 ** (7.33)
print(o)

106898104.47511163

In [68]:
p = 5e0
print(p)

5.0

### Complex Numbers

Complex numbers contain both a real and imaginary term. In Python complex numbers are defined:

```
var = 3 + 6j
```

Note that the character ```j``` defines a complex number, not the character ```i```.

In [69]:
q = 3 + 6j

In [70]:
type(q)

complex

In [71]:
# complex numbers can be added, substracted, multiplied and divided by integers and floats

In [72]:
q + 3

(6+6j)

In [73]:
5.0*q

(15+30j)

In [74]:
r = 1 - 2j

In [75]:
q - r

(2+8j)

In [76]:
s = 4j

In [77]:
s

4j

In [78]:
type(s)

complex

In [79]:
s = 0 + 4j
s

4j

In [80]:
type(s)

complex

### Container Data Types

Container data types contain one or more objects. For example, strings can contain one character or many characters

 * strings
 * lists
 * tuples
 * dictionaries

#### Strings

Strings are sequences of letters, numbers, puctuation and spaces. Defined with quotes ```" "``` or ```' '```.

In [81]:
r = 'Python'

In [82]:
type(r)

str

In [83]:
# we can index and slice strings
r[4:]

'on'

#### Lists

Lists are a container of any other python data type. Lists are ordered and can be indexed and sliced. Lists in Python are defined:
    
```
var = [item, item, item]
```

In [84]:
l = [5, 0.001, 'me me me']

In [85]:
type(l)

list

In [86]:
# lists can be indexed and sliced
l[0]

5

In [87]:
l[1:3]

[0.001, 'me me me']

In [88]:
l[-1]

'me me me'

In [89]:
l[0:3:2]

[5, 'me me me']

In [90]:
# convert a string to a list using the list() function
list('This is my string')

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'm',
 'y',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

#### Indexing into lists

Lists are a mutable data type, which means you modifiy the objects stored in a list.

In [91]:
l

[5, 0.001, 'me me me']

In [92]:
l[0] = 2
l

[2, 0.001, 'me me me']

In [93]:
s = 'me'
s[0] = 'M'

TypeError: 'str' object does not support item assignment

In [94]:
l

[2, 0.001, 'me me me']

In [95]:
l[-1] = 'mo mo mo'
l

[2, 0.001, 'mo mo mo']

In [96]:
# lists of lists
big_list = [ [1,2,3],['one','two','three']]
big_list

[[1, 2, 3], ['one', 'two', 'three']]

In [97]:
big_list[0]

[1, 2, 3]

In [98]:
big_list[1]

['one', 'two', 'three']

In [99]:
big_list[0][2]

3

In [100]:
big_list[1][1]

'two'

In [101]:
big_list[1][1][0]

't'

In [102]:
big_list[0][2][0]

TypeError: 'int' object is not subscriptable

### Tuples

Tuples in Python are a container data type like a list. Except for tuples are immutable and tuples are defined with parenthesis (lists are defined with square brackets) commas between element.

In [103]:
t = (2, 7.7, 'the')

In [104]:
type(t)

tuple

In [105]:
# tuples can be indexed
t[1]

7.7

In [106]:
t[1:]

(7.7, 'the')

In [107]:
t[2][0]

't'

In [108]:
t[1:]

(7.7, 'the')

In [109]:
# you can not modify a tuple or index into a tuple
t[0] = 3

TypeError: 'tuple' object does not support item assignment

In [110]:
# If you want to create a tuple with one element, a comma needs to be used
v = (5)

In [111]:
type(v)

int

In [112]:
v = (5,)

In [113]:
type(v)

tuple

In [114]:
l = [1,2,3]
m = tuple(l)
type(m)

tuple

In [115]:
# an empty tuple returns as False, a tuple with any contents returns as True
a = (1,2)
bool(a)

True

In [116]:
a = tuple()

In [117]:
bool(a)

False

In [118]:
a = ()
bool(a)

False

In [119]:
a = ( )
bool(a)

False

In [120]:
r = 5,

In [121]:
type(r)

tuple

In [122]:
r = 5,6,7
type(r)

tuple

In [123]:
t = (1,2)

In [124]:
type(t)

tuple

In [125]:
l = list(t)

In [126]:
type(l)

list

In [127]:
t

(1, 2)

In [128]:
l

[1, 2]

In [129]:
t = 6.6

In [130]:
type(t)

float

#### Dictionaries

Dictionaries in Python are a container data type composed of key:value pairs. Dictionaries are assigned in Python using ```{ }``` and ```,``` to separate elements and ```:``` to denote key:value pairs.


```
var = {key1:value1, key2:value2, key3:value3}
```

In [131]:
d = {'d':'dog','c':'cat','m':'mouse'}

In [132]:
type(d)

dict

In [133]:
# items in a dictionary are accessed by "indexing" their keys
d['d']

'dog'

In [134]:
d['m']

'mouse'

In [135]:
# to access all of the items in a dictionary
d.items()

dict_items([('d', 'dog'), ('c', 'cat'), ('m', 'mouse')])

In [136]:
# to access all of the keys in a dictionary
d.keys()

dict_keys(['d', 'c', 'm'])

In [137]:
# to access all of values in a dictionary
d.values()

dict_values(['dog', 'cat', 'mouse'])

In [138]:
# to remove an element from a dictionary, use the dict.pop('key') method
d.pop('d')

'dog'

In [139]:
d

{'c': 'cat', 'm': 'mouse'}

In [140]:
# to add an element to a dictionary, "index into" the new key with the new value
d['b'] = 'bird'

In [141]:
d

{'c': 'cat', 'm': 'mouse', 'b': 'bird'}

In [142]:
# dictionaries are unorded by default
d[0]

KeyError: 0

In [143]:
d = {0:'one',1:'one',2:'two',3:'three'}

In [144]:
d[0]

'one'

In [145]:
d[3]

'three'

In [146]:
d[4]

KeyError: 4

In [147]:
d[3] = 'three three three'

In [148]:
d

{0: 'one', 1: 'one', 2: 'two', 3: 'three three three'}

In [149]:
# two elements in a dictionary can not have the same key. The keys in a dictionary must be unique
d = {'h':'hi','h':'hello'}
d

{'h': 'hello'}

In [150]:
d['h']='it is me'
d

{'h': 'it is me'}

#### Sets

The Set data type in Python is sort of like a list with only unique elements or sort of like a dictionary with only keys (and no values). Define sets in Python with ```{ }```, and commas between elements.

In [151]:
l = [1,1,1]

In [152]:
s = {1,1,1}
s

{1}

In [153]:
set(l)

{1}

In [154]:
another_set = {'one', 2 , 3.3}
another_set

{2, 3.3, 'one'}

In [155]:
another_set[0]   # can not index out of sets because like dictionaries, sets are unorded by default.

TypeError: 'set' object is not subscriptable