# Week 1 Notes: Calculations, Strings, Print

## Calculations in Python

### Arithmetic

In [1]:
2+3

5

In [2]:
6-2

4

In [3]:
8/4

2.0

#### Multiplication in Python is completed with an asterix character ```*``` and not an ```x```

In [4]:
3*4

12

In [7]:
3x4

SyntaxError: invalid syntax (<ipython-input-7-b3f34f24d548>, line 1)

#### Powers or exponents in Python are completed using a double asterix character ```**``` and not a carrot symbol ```^```

In [8]:
10**2

100

In [9]:
10^2 # does not raise 10 to the second power

8

In [10]:
# to find the square root, raise a number to the 1/2 power
9**(1/2)

3.0

#### Order of mathematical operations follows P E M D A S

1. Parenthesis
2. Exponents
3. Multiplication
4. Division
5. Addition
6. Subtraction

In [12]:
(1+2)**3/(3-1)**2-2

4.75

### Exponents and Logarithms

In [14]:
log(2)

NameError: name 'log' is not defined

#### Exponent and Logarithm functions need to first be imported before they can be used

In [15]:
import math     # import the math module from Python's Standard Library

In [16]:
math.log(2)     # take the natural log of 2

0.6931471805599453

In [17]:
math.log10(100) # take the log base 10 of 100

2.0

In [18]:
math.pow(10,3)

1000.0

In [19]:
math.sqrt(81)

9.0

In [20]:
math.exp(10)    # e^10

22026.465794806718

In [21]:
math.e

2.718281828459045

In [22]:
math.e**10

22026.465794806703

#### Another way to import a bunch of functions from one module at the same time is to use the ```from``` keyword in the ```import``` line

In [23]:
from math import log, log10, e, exp, pow

In [24]:
log(10)

2.302585092994046

In [25]:
from math import log
from math import e

In [26]:
log(10)

2.302585092994046

In [27]:
e

2.718281828459045

### Trig functions in Python

In [28]:
sin(90)

NameError: name 'sin' is not defined

#### Trig functions from Python's math module must be imported before they are used

In [29]:
from math import sin, cos, tan, pi, degrees, radians

In [30]:
sin(0)

0.0

In [31]:
cos(0)

1.0

In [32]:
sin(90)

0.8939966636005579

In [33]:
sin(pi/2)

1.0

In [34]:
cos(-1)

0.5403023058681398

In [35]:
cos(-pi)

-1.0

In [36]:
degrees(pi)

180.0

In [37]:
radians(90)

1.5707963267948966

In [40]:
tan(radians(80))  # find the tangent of 80 degrees

5.671281819617707

### Statistics calculations in Python

In [41]:
from statistics import mean, median, mode, stdev

In [42]:
mean([1,2,3])  # find the mean or average of a list of numbers 1,2,3 with the mean() function

2

In [43]:
median([1,1,2,3,4])

2

In [44]:
mode([1,1,2,3,4])

1

In [45]:
stdev([1,1,2,3,4])

1.3038404810405297

In [46]:
# import every function from the statistics module
import statistics   # then you have to use statistics.function()

In [47]:
statistics.mean([1,2,3])

2

In [48]:
statistics.mode([1,1,2,3])

1

In [49]:
4/2

2.0

In [50]:
2*3

6

In [51]:
1/2

0.5

In [52]:
int(1/2)

0

In [53]:
float(2*3)

6.0

## Variables, Strings, indexing, print()

### Variables in Python

Variables in Python store values that you have defined in your code. Python variables must follow the rules below:

1. variable names can only contain letters, numbers and the underscore character ```_```
2. variable names should start with a letter (although they can start with an underscore). Variable names can not start with a number
3. variable names should not be surrounded by quotes or brackets
4. variable names should not contain spaces or other punctuation besides the underscore character

In [55]:
a = 5

In [56]:
1a=5

SyntaxError: invalid syntax (<ipython-input-56-12a452f40b4c>, line 1)

In [57]:
ab = 3    # <variable name> = <value>

In [58]:
a b = 4

SyntaxError: invalid syntax (<ipython-input-58-97edbf20c603>, line 1)

In [59]:
my_number = 2

In [63]:
3 = a    # variable name needs to come first

SyntaxError: cannot assign to literal (<ipython-input-63-0dc345e1f4dc>, line 1)

### Strings in Python

Strings are sequences of letters, numbers, spaces and puctuation. In Python, strings are defined by surrounding characters with quotation marks. Both single quotes and double quotes can be used.

In [64]:
c = "my string"

In [65]:
c

'my string'

In [68]:
d = 'my other string'

In [69]:
d

'my other string'

In [70]:
f = "It's my string"

In [71]:
f

"It's my string"

In [72]:
g = 'I said "my string"'

In [73]:
g

'I said "my string"'

In [74]:
h = ' '  # a space is a valid character in a string
h

' '

In [75]:
i = ''   # an empty string with no spaces

In [76]:
i == h   # is a string with a space the same thing as an empty string?

False

In [77]:
k = "my string "
l = "my string"
l

'my string'

In [78]:
k

'my string '

In [79]:
l == k

False

### Python's Print Function

Python's print function prints the value of a variable or another data type when it is run.

In [80]:
m = 2
print(m)

2

In [81]:
print(2+2)

4

In [82]:
print("2+2")

2+2

In [83]:
n = "my string variable"
print(n)

my string variable

In [84]:
k
n
m    # Jupyter notebooks will only output the last varaible in a code cell

2

In [85]:
print(k)
print(n)
print(m)

my string
my string variable
2

In [86]:
print(n,m)

my string variable 2

In [87]:
o = "my"
p = "string"
print(o,p)

my string

### String operations: Concatination and Indexing

Concatatinating strings means to combine strings together

In [92]:
a = "Problem"
b = "Solving"
c = "with Python"
space = " "
print(a+space+b+space+c)

Problem Solving with Python

In [93]:
"string" + 2

TypeError: can only concatenate str (not "int") to str

In [94]:
"string"+"2"

'string2'

In [95]:
print("string",2)

string 2

In [96]:
print("string"+2)

TypeError: can only concatenate str (not "int") to str

#### Indexing Strings

Indexing is the operation of pulling individual values out of a container data type. Indexing strings allows you to pull out specific characters or sequences of characters from a string.

In [97]:
s = "Engineering Programming"

In [98]:
s[0]

'E'

Python counting starts at zero and ends at n-1

In [99]:
s[1]

'n'

In [100]:
s[0:3]

'Eng'

In [101]:
s[0:11]

'Engineering'

In [103]:
s[12:23]

'Programming'

In [104]:
s[0:11]

'Engineering'

In [105]:
s[:11]

'Engineering'

In [106]:
s[12:23]

'Programming'

In [107]:
s[12:]

'Programming'

In [108]:
s[0:23]

'Engineering Programming'

In [109]:
s[:]

'Engineering Programming'

#### Indexing based on patterns
s[start:stop:step]

In [111]:
s[0:23:2]

'EgneigPormig'

In [112]:
s[0:23:3]

'EienPgmn'

In [113]:
s[0:23:2]

'EgneigPormig'

In [114]:
s[::2]

'EgneigPormig'

In [115]:
s[::-1]   # you can reverse a string with a negative index

'gnimmargorP gnireenignE'

In [116]:
s[0:11:-1]

''

In [120]:
s[11:1:-1]

' gnireenig'

In [121]:
s

'Engineering Programming'

In [122]:
#### Can index with negative numbers to start at the back of a string

In [123]:
s[-1]

'g'

In [124]:
s[-2]

'n'

In [126]:
s[-1:-3:-1]

'gn'

#### Combine indexing, slicing and contatination of strings

In [127]:
s = "Sophie and Lou say Hi!"

In [144]:
s[6]

' '

In [134]:
s[0:6] + s[14:]

'Sophie say Hi!'

In [143]:
s[11:14] + ' ' + s[19:22]

'Lou Hi!'

In [138]:
s[0:6] + s[11:14]

'SophieLou'

In [139]:
s[:6] + s[11:14]

'SophieLou'

In [146]:
s.end

AttributeError: 'str' object has no attribute 'end'

In [147]:
import math

In [148]:
math?

In [149]:
math.sin?

In [150]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [ ]:
math.cos