# Lab 3 Intro - Sifting Weather Data

 * Peter Kazarinoff
 * ENGR114 2021Q1
 * 2010-01-20

In [1]:
# make sure the .xlsx data file is in the same directory as the running jupyter notebook
%ls

 Volume in drive C is OS
 Volume Serial Number is 1236-A93E

 Directory of C:\Users\peter.kazarinoff\Documents\ENGR114-2021Q1\class_notes\week_3

01/20/2021  11:39 AM    <DIR>          .
01/20/2021  11:39 AM    <DIR>          ..
01/20/2021  11:39 AM    <DIR>          .ipynb_checkpoints
01/20/2021  11:39 AM                72 lab3_intro.ipynb
01/20/2021  11:35 AM            10,204 weather_data.xlsx
01/20/2021  09:13 AM               955 Week_3_Agenda.ipynb
01/20/2021  11:31 AM            39,846 week_3_notes_NumPy_and_Arrays.ipynb
               4 File(s)         51,077 bytes
               3 Dir(s)  99,518,193,664 bytes free

In [2]:
# imports
import numpy as np
import pandas as pd     # can be installed at the cmd prompt with: pip install pandas

In [8]:
# bring in the data from the excel file and save it in a pandas dataframe
df = pd.read_excel('weather_data.xlsx', header=None)

In [9]:
# make sure the dataframe is 12 x 31
print(df.shape)

(12, 31)

In [10]:
# turn the pandas dataframe into a numpy array
wd = np.array(df)

In [11]:
# check the shape of the array wd
print(wd.shape)

(12, 31)

In [7]:
print(wd)

[[     0      0    272      0      0      0      0      9     26      1
       0      0      0     50     85      0      0     90      9      0
       0      1     15    224      0      0      0      0      0     33
      33]
 [    61    103      0      2      0      0      0      2      0     68
       3      3      1      0      0      0      1    135      3     66
       0      0      0      5      0      0      0     62 -99999 -99999
  -99999]
 [     2      0     17     27      0     10      0      0     30     25
       0      0      0     45     70      0      0      0      0      0
      27     26      0      0      9      6     78      0      5      8
       0]
 [   260      1      0      0      0      1      3      0      5      0
       0      0      0      0     10     51      0      0      0      0
       0      0      0      0      0      9     35     13     86      0
  -99999]
 [    47      0      0      0      5    115     49     81      0      0
       0      0      1     10      1      0      0      0     10      0
       0      0      0      0      0      0      2      0      0      0
       0]
 [     0      0     30     42      0      0      0      0      0      0
       0      0      0      0      0     97    133      0      0      0
       0      0      2      2    240     16     35     14     14      8
  -99999]
 [     0      0      0      0      0      0      0      7      0      0
      58    157     52      0      0      0      0      0      7      0
      21      0      0      0     10      0      0      5      0      0
       0]
 [     0     45      0      0      0      0      0      0      5      0
       0      0      0      6      0      0      0      0      0      0
       1      0      0    158     62      1      0      0      0      0
       0]
 [     0      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       0     37      0      0      0      0      6    138     58     10
  -99999]
 [     0      0      0     14    156      0      0      0      0    110
     130      0     14     19      0      0      0      0      0     30
      92      0      0      0      0      0      0      0      0      0
       1]
 [     1    163      5      0      0      0      0      0      0      0
       0      1      0      0      0      0      0      0      0      1
      26      0      2      2     10    255      2      0      0      0
  -99999]
 [     0      0      0      0      0     45      0      0      0     15
      37      0     36     97      0      0      0      0      0     20
       2     34      0      0      0      0      0      0      0      0
       0]]

In [12]:
# multiply by 0.01 to get inches of rain (instead of 100th's of inches)
wd = wd*0.01

In [13]:
# set the month to January and pull out just the january data with slicing
m = 1
md = wd[1,:]
print(md)

[ 6.1000e-01  1.0300e+00  0.0000e+00  2.0000e-02  0.0000e+00  0.0000e+00
  0.0000e+00  2.0000e-02  0.0000e+00  6.8000e-01  3.0000e-02  3.0000e-02
  1.0000e-02  0.0000e+00  0.0000e+00  0.0000e+00  1.0000e-02  1.3500e+00
  3.0000e-02  6.6000e-01  0.0000e+00  0.0000e+00  0.0000e+00  5.0000e-02
  0.0000e+00  0.0000e+00  0.0000e+00  6.2000e-01 -9.9999e+02 -9.9999e+02
 -9.9999e+02]