# Week 8 Notes: Review Functions in other files, If, Else, Elif

## Call Functions in other files, use output from one function as input for another function

In [1]:
%ls

 Volume in drive C is OS
 Volume Serial Number is 1236-A93E

 Directory of C:\Users\peter.kazarinoff\Documents\ENGR114-2021Q1\class_notes\week_8

02/24/2021  12:23 PM    <DIR>          .
02/24/2021  12:23 PM    <DIR>          ..
02/24/2021  11:13 AM    <DIR>          .ipynb_checkpoints
02/24/2021  10:54 AM    <DIR>          __pycache__
02/24/2021  12:12 PM               862 call_API.py
02/24/2021  12:13 PM               327 clean_data.py
02/22/2021  10:50 AM               304 com_funcs.py
02/24/2021  12:21 PM           219,509 lab6_intro.ipynb
02/22/2021  10:50 AM               159 math_funcs.py
02/24/2021  11:15 AM            60,375 stinkbug.png
02/24/2021  12:23 PM               198 user_input.py
02/24/2021  12:23 PM             1,597 Week_8_Agenda.ipynb
02/22/2021  11:50 AM             9,110 week_8_notes_function_review_if_elif_else.ipynb
02/24/2021  12:23 PM             5,587 week_8_Notes_Review_Functions_in_other_files_Review_If_else_elif.ipynb
              10 File(s)        298,028 bytes
               4 Dir(s)  55,433,707,520 bytes free

In [2]:
from user_input import user_input
from call_API import call_API
from clean_data import clean_data

In [3]:
w_type, n_data_pts_int = user_input()
df = call_API(n_data_pts_int, w_type)
a = clean_data(df, w_type)
a

What weather data are you looking for? temperature
How many data points should be collected? 5

array([50.5, 50.5, 50.5, 50.5, 50.3])

In [4]:
df

                created_at  entry_id  field4
0  2021-02-24 20:20:07 UTC   3256878    50.5
1  2021-02-24 20:21:07 UTC   3256879    50.5
2  2021-02-24 20:22:07 UTC   3256880    50.5
3  2021-02-24 20:23:07 UTC   3256881    50.5
4  2021-02-24 20:24:07 UTC   3256882    50.3

In [5]:
from call_API import N_DATA_PTS, WEATHER_TYPE, call_API

In [6]:
N_DATA_PTS

10

In [7]:
WEATHER_TYPE

'pressure'

In [8]:
call_API(N_DATA_PTS, WEATHER_TYPE)

                created_at  entry_id  field6
0  2021-02-24 20:15:07 UTC   3256873   29.64
1  2021-02-24 20:16:07 UTC   3256874   29.64
2  2021-02-24 20:17:07 UTC   3256875   29.64
3  2021-02-24 20:18:07 UTC   3256876   29.64
4  2021-02-24 20:19:07 UTC   3256877   29.64
5  2021-02-24 20:20:07 UTC   3256878   29.64
6  2021-02-24 20:21:07 UTC   3256879   29.64
7  2021-02-24 20:22:07 UTC   3256880   29.64
8  2021-02-24 20:23:07 UTC   3256881   29.64
9  2021-02-24 20:24:07 UTC   3256882   29.64

## Try, Except Blocks

In [9]:
n = 4
if n == 2:
    print("2")
else:
    print("not 2")

not 2

In [10]:
n = 9
try:
    import gabby
    print("import worked")
except:
    print("not 2")

not 2

In [11]:
from call_API import call_API

In [13]:
call_API(4, 'asdfa sdsda ') # default field number if the input argument is invalid

                created_at  entry_id  field4
0  2021-02-24 20:21:07 UTC   3256879    50.5
1  2021-02-24 20:22:07 UTC   3256880    50.5
2  2021-02-24 20:23:07 UTC   3256881    50.5
3  2021-02-24 20:24:07 UTC   3256882    50.3